.grid {
    display: grid;
}

.search {
    grid-column-start: 2;
    grid-column-end: 7;

    grid-row-start: 1;
    grid-column-end: 2;
}

.filter {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;

    text-align: center;
}

.data {
    grid-column-start: 2;
    grid-column-end: 7;

    grid-row-start: 2;
}