.title {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: #414833;

    background-image: url('../../images/paws.png');
    background-size: cover;

    width: 100%;
    height: 300px;

    h1 {
        font-family: 'Prata', serif;
        font-weight: normal;
        font-size: 30px;
        color: #fffcf2;

        background-color: #414833;
        padding: 20px;

        border: 10px double #fffcf2;
        border-radius: 5px;
    }
}

.introduction {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    margin-top: 30px;
    margin-bottom: 30px;

    padding-top: 20px;
    padding-bottom: 20px;

    background-color: #c2c5aa;

    p {
        font-family: 'Open Sans', sans-serif;
        font-size: 16px;
        font-weight: bold;
        color: #414833;
        text-align: center;

        margin-left: 150px;
        margin-right: 150px;
    }

    .instructions {
        font-weight: normal;
    }
}

.articles {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

    margin-bottom: 30px;
}